$theme-colors: (
    "primary": #0C2B62,
    "success": #26BB92,
    "danger": #D66853,
    "warning": #F2AF29
    );

$body-bg: #F5F2F2;

$body-color: #111;

$font-family: Roboto;

.rounded-circle {
  border-radius: 100% !important; }

.large-profile-picture {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.small-profile-picture {
  $size: 150px;
  width: $size;
  height: $size;
  border-radius: 100%;
}

.very-small-profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  }


.flash-card {
  min-height: 200px;
  max-height: 200px;
}

.study-card {
  min-height: 350px;
  max-height: 350px;
}

 .toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}



@import '../../../node_modules/bootstrap/scss/bootstrap';


