{% extends "spaced_repitition/base.html" %}
{%  block content %}
    {% for card in cards %}

      <article class="media content-section">
        <img class = "rounded-circle article-img" src = "{{ card.creator.profile.image.url }}"
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ card.creator }}</a>
              <small class="text-muted">{{ card.date }}</small>
            </div>
                <h2><a class="article-title" href="{% url 'card-detail' card.id %}">{{ card.question }}</a></h2>
                <p class="article-content">{{ card.answer}}</p>
          </div>
      </article>

    {% endfor %}
{% endblock content %}


