{% extends "spaced_repitition/base.html" %}
{% load static %}
{%  block content %}


<style>

  .toggle-content {
  display: none;
}

  /* .my-container {
        border: 1px solid green;
    }*/

    /*.my-row {
        border: 3px solid red;
    }

    .my-col {
        border: 3px dotted blue;
    }*/

    .my-container2 {
        border-left: 1px solid green;
        border-top: 1px solid green;
        border-right: 1px solid green;
        border-radius: 15px 15px 0px 0px;
    }
border-bottom: 0.5px solid rgba(38,187,146,0.5);
</style>

<br>
<br>
<br>
<br>

<script type="text/javascript">

  var clicked = false;
  function toggle(id, answer){
    if(!clicked){
      clicked = true;
      document.getElementById(`card-${id}`).innerHTML = answer;
      document.getElementById("myDIV").className = "default-mouse";
    }
    // else{
    //   clicked = false;
    //   document.getElementById(`card-${id}`).innerHTML = "Click to see answer";
    // }
  }

function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script>

<div class="row">
  <div class="my-column
      col-xl-6 mt-2 mx-auto">
     <div id="carouselExampleIndicators" class="carousel shadow" data-ride="carousel">
            <ol class="carousel-cards" style="list-style: none;">
                {% for card in cards %}
                    {% if forloop.first %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="active"></li>
                    {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>
                    {% endif %}
                {% endfor %}
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for card in cards reversed %}
                    {% if forloop.first %}
                        <div class="carousel-item active  ">
                    {% else %}
                        <div class="carousel-item  ">
                    {% endif %}

                   <!--  It's here I need to get it to wokr -->
                   <div class="card-group">
                      <div class="card">
                        <div class="card-header">
                          <div class="row">
                            <div class="col-1 my-col mr-1"> <!-- Image -->
                              <img class = "float:left mr-2 mt-1 small-profile-picture" src ="{{ card.creator.profile.image.url }}" >
                            </div>
                            <div class="col my-col ml-3"> <!-- Name and data -->
                              <div class="row"> <!-- Name -->
                                <a class="text-primary"> {{ card.creator }}</a>
                              </div>
                              <div class="row mb-2 mt-n1"> <!-- Data -->
                                <small-text> <a class="text-muted small-text"> {{ card.date }}  </a> </small-text>
                              </div>
                              <div class="row mb-n2 study"> <!-- Question -->
                                <p class="float-up ml-n1"> {{ card.question }} </p>

                              </div>
                            </div> <!-- Header row ends -->
                          </div>
                        </div> <!-- header ends  -->

                        <div class="pointy-mouse" id="myDIV" onclick="toggle({{ card.id }}, `{{ card.answer }}`);">
                        <div class="card-body card-green">
                           <div class="row">
                              <div class="my-col col-1 mr-3">
                                <!-- Placeholder -->
                              </div>
                              <div class="my-col col study-card">
                                <p id="card-{{card.id}}" class="ml-n3"> Click to see answer </p>
                              </div>
                              <div class="my-col col-1">
                                <!-- Placeholder -->
                              </div>
                            </div> <!-- body row ends -->
                          <div class="row mb-3">
                            <div class="col"> </div>
                          </div>
                          <div class="row mt-auto">
                            <div class="col button-margins">
                              <a href="javascript:{document.getElementById('remembered').submit()}">
                              <div class="align-self-end btn btn-success btn-answer-card btn-sm col-10 float-right text-right"> <img class = "super-small-picture float-left" src =" {% static '/my_icons/check6.png' %} "> Remembered </div> </a>
                            </div>
                            <div class="col button-margins">
                              <a href="javascript:{document.getElementById('didnotremember').submit()}">
                              <div class="align-self-end btn btn-danger btn-answer-card btn-sm col-10 float-left text-right "> <img class = "super-small-picture float-left" src ="{% static '/my_icons/refresh5.png' %}" > Didn't Remember </div> </a>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                        </div>
                      </div>
                    </div>

                   <!--  Forms for the buttons -->
                      <form id="remembered" method="POST" action=" {% url 'remembered-from-study' card_id=card.id value=0 %} ">
                          {% csrf_token %}
                          <input type ="hidden">
                      </form>
                      <div>
                        <form id="didnotremember" method="POST" action=" {% url 'remembered-from-study' card_id=card.id value=1 %} ">
                          {% csrf_token %}
                          <input type ="hidden">
                        </form>
                      </div>

                  {% empty %}
                  <p> No cards are due </p>
                  <p> Find new cards on the <a href="{% url 'spaced_repitition-home' %}"> feed </a> </p>
                  <p> Or go to <a href="{% url 'spaced_repitition-mypage' %}"> mypage </a> to create more cards </p>

                {% endfor %}
            </div>


            </div>
        </div>
    </div> <!-- Col ends here  -->
  </div> <!-- Row ends here  -->


{% endblock content %}




